<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdaptationTools2.SavedCtls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AdaptationsTools.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AdaptationsTools.SavedCtls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AdaptationsTools.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <AdaptationTools2.SavedCtls>
            <setting name="xFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xTo" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MajorColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="yFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yTo" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MajorLineStyle" serializeAs="String">
                <value>wdLineStyleSingle</value>
            </setting>
            <setting name="PlotAsChart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xNumEvery" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="yNumEvery" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="xDivs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="yDivs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinorColour" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="MinorLineStyle" serializeAs="String">
                <value>wdLineStyleDashLargeGap</value>
            </setting>
            <setting name="MajorWeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinorWeight" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PlotAsShapes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlotAs" serializeAs="String">
                <value>PlotAsShapes</value>
            </setting>
            <setting name="Numbering" serializeAs="String">
                <value>NumStandard</value>
            </setting>
        </AdaptationTools2.SavedCtls>
        <AdaptationsTools.MySettings>
            <setting name="xFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MajorLineStyle" serializeAs="String">
                <value>MajorLineStyle</value>
            </setting>
        </AdaptationsTools.MySettings>
        <AdaptationsTools.SavedCtls>
            <setting name="xFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xTo" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="majorColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="yFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yTo" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MajorLineStyle" serializeAs="String">
                <value>wdLineStyleSingle</value>
            </setting>
        </AdaptationsTools.SavedCtls>
        <AdaptationsTools.Settings1>
            <setting name="xFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MajorColour" serializeAs="String">
                <value>0</value>
            </setting>
        </AdaptationsTools.Settings1>
    </userSettings>
</configuration>
